.one{
    color:aqua;
}
.two{
    color:darkorange;
}
.three{
    color:blueviolet;
}
.four{
    color:white;
}
.five{
    color:brown;
}
.six{
    color:gold;
}
.seven{
    color:chartreuse;
}
.eight{
    color:hotpink;
}


